// @font-face {
//   font-family: $font-name;
//   src: url($font-path + $font-file);
// }

@font-face {
  font-family: Poppins-Regular;
  src: url("~assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("~assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("~assets/fonts/Poppins-Bold.ttf");
}

[v-cloak] {
  display: none;
}

body,
html {
  height: 100%;
  color: $black;
  font-family: Poppins-Regular, sans-serif;
}

html {
  //font-family: $font-name;
  font-family: Roboto;
  line-height: 1.75;
  font-size: 18px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:visited {
  color: $lightblue;
  text-decoration: none;
}

span.sr-only {
  position: absolute;
  left: -1000px;
}
