// @font-face {
//   font-family: $font-name;
//   src: url($font-path + $font-file + ".ttf");
//   font-style: normal;
//   font-weight: 400;
// }

@font-face {
  font-family: $font-name;
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local($font-file),
    url($font-path + $font-file + ".woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url($font-path + $font-file + ".woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

[v-cloak],
.hidden {
  display: none;
}

body,
html {
  height: 100%;
  color: $black;
  font-family: $font-name, sans-serif;
  line-height: 1.75;
  font-size: 17px;

  @media #{$bp-lg-up} {
    font-size: 18px;
  }
}

p {
  margin: 5px 0 1rem 0;
}

img,
form,
input,
textarea,
select {
  box-sizing: border-box;
  max-width: 100%;
  //height: auto;
}

textarea,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="time"] {
  padding: 12px;
  width: 100%;
  height: 50px;
  border: 2px solid $lightgrey;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: border 0.6s;

  &:focus {
    outline: none;
    border: 2px solid $blue;
    border-bottom-color: $navy;
  }
}

textarea {
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:active,
a:visited {
  color: $navy;
  text-decoration: none;
  transition: color 0.2s;

  &:hover,
  &:focus {
    color: $firebrick;
    border-bottom: 1px solid $firebrick;
  }
}

span.sr-only {
  position: absolute;
  left: -1000px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.polaroid {
  border: 5px solid $clouds;
  border-radius: 2px;
}

.spikes .polaroid {
  border: 5px solid $white;
  border-radius: 2px;
}

/* add your IE10-IE11 css here */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  svg {
    display: none;
  }

  .features {
    list-style: square;
    width: 100%;

    padding-left: 50px !important;
    margin-bottom: 20px;

    li {
      color: $black;
    }
  }

  .col-md-6,
  .col-lg-6 {
    width: 50%;
  }

  .col-md-8,
  .col-lg-8 {
    width: 66%;
  }

  article img,
  section img {
    width: auto !important;
  }
}
