.flex {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media #{$bp-md} {
    flex-direction: column;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
  background-color: $navy;
}

#content-wrap {
  border-top: 6px solid $firebrick;
  padding-bottom: 20rem; /* Footer height */
  background-color: $white;
  margin-top: 30px;
  min-height: 75vh;

  -webkit-box-shadow: 3px 10px 39px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 10px 39px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 10px 39px 0px rgba(0, 0, 0, 0.75);

  @media #{$bp-sm-up} {
    padding-bottom: 13rem; /* Footer height */
  }

  @media #{$bp-md-up} {
    margin-top: 0;
  }
}

main {
  height: 100%;
  min-height: 75vh;
  padding-bottom: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  //height: 13rem; /* Footer height */
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  max-width: 1400px;
  width: 90%;

  @media #{$bp-md} {
    height: auto;
    margin: 0 5%;
  }
}

article,
section {
  margin-bottom: 40px;
}

.content {
  padding: 15px 15px 15px 15px;

  @media #{$bp-md-up} {
    padding: 30px 30px 10px 30px;
  }
}

.spikes {
  padding: 15px 15px 30px 15px;

  @media #{$bp-md-up} {
    padding: 30px 30px 60px 30px;
  }
}

.center {
  text-align: center;
}

//GRID
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

div[class^="col-"] {
  grid-column: span 12;
}

//Small
@media #{$bp-sm-up} {
  div.col-sm-4 {
    grid-column: span 4;
  }

  div.col-sm-6 {
    grid-column: span 6;
  }

  div.col-sm-8 {
    grid-column: span 8;
  }
}

//Medium
@media #{$bp-md-up} {
  div.col-md-4 {
    grid-column: span 4;
  }

  div.col-md-6 {
    grid-column: span 6;
  }

  div.col-md-8 {
    grid-column: span 8;
  }
}

//Large
@media #{$bp-lg-up} {
  div.col-lg-4 {
    grid-column: span 4;
  }

  div.col-lg-6 {
    grid-column: span 6;
  }

  div.col-lg-8 {
    grid-column: span 8;
  }
}
