//Color Variables
$white: #fff;
$black: #333;
$firebrick: firebrick;
$clouds: #f1f3f4;

//https://flatuicolors.com/palette/se
$navy: #3c40c6; //free speach blue
$blue: #575fcf; //dark perwinkle
$lightblue: #0fbcf9; //spiro disco ball
$lightgrey: #d2dae2; //hint of elusive blue
$darkgrey: #485460; //goodnight
$red: #ff3f34; //red orange

//$lightblue: #20bbef;

$grey: #414141;

$greyalt: #bcbcbc;

$blackalt: #1e1e1e;
$blacktransparent: rgba(0, 0, 0, 0.5);

// Fonts
$font-name: "Raleway";
$font-file: "Raleway-Regular.ttf";
$font-path: "~assets/fonts/";

// $font-h-name: "Arvo";
// $font-h-filename: arvo;

// Font Stacks
$stack-sans-serif: Arial, sans-serif;
$stack-body: $font-name, $stack-sans-serif;
// $stack-h: $font-h-name, $stack-sans-serif;

// Media Query Break Points
$bp-xxl-up: "screen and (min-width:1600px)";
$bp-xl-up: "screen and (min-width:1400px)";

$bp-lg-up: "screen and (min-width:992px)";
$bp-lg: "screen and (max-width:992px)";

$bp-md-up: "screen and (min-width:768px)";
$bp-md: "(max-width:768px)";

$bp-sm-up: "screen and (min-width:576px)";
$bp-sm: "(max-width:576px)";

$bp-xs: "(max-width:600px)";
$bp-xxs: "(max-width:479px)";

//@media #{$bp-md} {
